@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">USER NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">ID CARD NUMBER</th>
            <th scope="col">BIRTH DAY</th>
            <th scope="col">ACTION</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model) {
        <tr>
            <th scope="row">@u.Id</th>
            <td>@u.UserName</td>
            <td>@u.Email</td>
            <td>@u.IdCardNo</td>
            <td>@u.BirthDate</td>
            <td>
                <form asp-action="EditUser" asp-route-id="@u.Id" method="get">
                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Edit?')">
                        Edit
                    </button>
                </form>
                <form asp-action="DeleteUser" asp-route-id="@u.Id" method="post">
                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Delete?')">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

<a asp-action="AddUser" class="btn btn-danger">add user</a>

